
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

/* App.css */

body {
  font-family: 'Comfortaa', sans-serif; /* Corrected the font family to Comfortaa */
  margin: 0;
  padding: 0;
  background-color: #d3d3d3; /* Set background to gray */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: space-between;
}

.graph-container {
  flex: 1;
  margin-right: 20px;
}

.sidebar {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar input,
.sidebar select,
.sidebar button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sidebar input:focus,
.sidebar select:focus,
.sidebar button:focus {
  outline: none;
  border-color: #007bff;
}

.sidebar label {
  font-weight: bold;
}

.checkbox-container {
  margin-bottom: 20px;
}

.checkbox-container input {
  margin-right: 8px;
}

.checkbox-container label {
  font-weight: normal;
}

.regression-table {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.regression-table table {
  width: 100%;
  border-collapse: collapse;
}

.regression-table th,
.regression-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.regression-table th {
  background-color: #f2f2f2;
}

.chart-container {
  width: 100%;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chart-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.chart-options label {
  margin-bottom: 5px;
}

.chart-options select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 10px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
